body {
  background: rgb(80, 80, 116);
  font: normal 15pt Arial;  
}

header{
  color: white;
  text-align: center;
}

section{
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto; /* centralizou */
  box-shadow: 5px 5px 10px rgb(46, 45, 45);
  text-align: center;
}

footer{
  color: white;
  text-align: center;
  font-style: italic;
}

.imagem{
  margin: 20px;
  border-radius: 50%;
  width: 300px;
}

.texto{
  margin-top: 10px;
}